<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="apple-touch-icon" href="img/icons/target.png"> -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <!-- <script src="js/testdata.js" charset="utf-8"></script> -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/calculator.js" charset="utf-8"></script>
  <script src="js/interface.js" charset="utf-8"></script>
  <script>
    var calc = new Calculator();
  </script>
  <title>40kroller</title>
  <link rel="stylesheet" href="css/40kroller.css">
  <link id="40kolor" rel="stylesheet" href="css/40kolor_classico.css">
  <!-- <link id="40kolor" rel="stylesheet" href="css/40kolor_greyknight.css"> -->
  <!-- <link id="40kolor" rel="stylesheet" href="css/40kolor_pitchblack.css"> -->
  <!-- <link id="40kolor" rel="stylesheet" href="css/40kolor_morphG.css"> -->
  <!-- <link id="40kolor" rel="stylesheet" href="css/40kolor_morphP.css"> -->
</head>

<body onload="init()">
  <div id="atkrList" class="listView bg1 cCenter">
    <% if (locals.gameCode) { %>
      <div class="form-group bg5 block cCenter importForm">
        <form action="/upload" enctype="multipart/form-data" method="post">
          <label for="atkr_file">Attacker File</label>
          <input type="file" class="fileSpot fileWidget bg7" name="atkr_file" id="atkr_file" accept="rosz"><br>
          <label for="dfdr_file">Defender File</label>
          <input type="file" class="fileSpot fileWidget bg7" name="dfdr_file" id="dfdr_file" accept="rosz"><br>
          <input type="hidden" name="gameCode" id="gameCode" value='<%- gameCode %>'>
          <input type="submit" value="Upload BattleScribe Rosters" class="fileBtn fileWidget">
          <!-- <input type="button" value="Upload BattleScribe Rosters" class="fileBtn" onclick="uploadArmies()"> -->
        </form>
      </div>
      <% } %>
  </div>
  <div id="centerBlock">
    <span id="toggleatkr" class="openNav" onclick="toggleNav(this)">&#9776;</span>
    <span id="toggledfdr" class="openNav" onclick="toggleNav(this)">&#9776;</span>
    <h1 id="banner" title="This is the name of this webapp." align="center" onclick="tickle()">40kroller</h1>
    <h4 id="subbanner" align="center">Warhammer 40k Battle Tracker</h4>
    <div id="content" class="bg2">
      <!--
      ████████ ██████   █████   ██████ ██   ██ ███████ ██████
         ██    ██   ██ ██   ██ ██      ██  ██  ██      ██   ██
         ██    ██████  ███████ ██      █████   █████   ██████
         ██    ██   ██ ██   ██ ██      ██  ██  ██      ██   ██
         ██    ██   ██ ██   ██  ██████ ██   ██ ███████ ██   ██
      -->
      <a href="#tracker"></a>
      <div class="accordion-header bg0 banner">Tracker</div>

      <div class="accordion-content bg4">
        <h2 class="cCenter" title="">Current Phase</h2>
        <div class="statRow bg5">
          <div id="phaser">
            <span class="tag phaseTag clickable">Pregame</span>
            <span class="tag phaseTag clickable">Command</span>
            <span class="tag phaseTag clickable">Movement</span>
            <span class="tag phaseTag clickable">Psychic</span>
            <span class="tag phaseTag clickable">Shooting</span>
            <span class="tag phaseTag clickable">Charge</span>
            <span class="tag phaseTag clickable">Fight</span>
            <span class="tag phaseTag clickable">Morale</span>
          </div>
        </div>
        <div id="scoreboard">
          <h2 class="cCenter" title="">Attacker Score</h2>
          <div id="atkr_score" class="statRow bg5 vpbox">
            <div class="statTag" title="">
              <label for="atkr_cp" class="bg2">CP</label>
              <input id="atkr_cp" name="atkr_cp" class="spinner io bg7" type="number" size=2 value="-1">
            </div>
            <div class="statTag" title="Primary Victory Points">
              <label for="atkr_pvp" class="bg4">P.VP</label>
              <input id="atkr_pvp" name="atkr_pvp" class="spinner vptracker io bg7" type="number" size=2 value=0>
            </div>
            <div class="statTag" title="">
              <label for="atkr_s1vp" class="bg4">S1VP</label>
              <input id="atkr_s1vp" name="atkr_s1vp" class="spinner vptracker io bg7" type="number" size=2 value=0>
            </div>
            <div class="statTag" title="">
              <label for="atkr_s2vp" class="bg4">S2VP</label>
              <input id="atkr_s2vp" name="atkr_s2vp" class="spinner vptracker io bg7" type="number" size=2 value=0>
            </div>
            <div class="statTag" title="">
              <label for="atkr_s3vp" class="bg4">S3VP</label>
              <input id="atkr_s3vp" name="atkr_s3vp" class="spinner vptracker io bg7" type="number" size=2 value=0>
            </div>
            <div class="statTag" title="Total Victory Points">
              <label for="atkr_tvp" class="bg2">TTL</label>
              <span class="io bg7 vptotal" id="atkr_tvp"></span>
            </div>
          </div>
          <h2 class="cCenter" title="">Defender Score</h2>
          <div id="dfdr_score" class="statRow bg5 vpbox">
            <div class="statTag" title="">
              <label for="dfdr_cp" class="bg2">CP</label>
              <input id="dfdr_cp" name="dfdr_cp" class="spinner io bg7" type="number" size=2 value="-1">
            </div>
            <div class="statTag" title="Primary Victory Points">
              <label for="dfdr_pvp" class="bg4">P.VP</label>
              <input id="dfdr_pvp" name="dfdr_pvp" class="spinner vptracker io bg7" type="number" size=2 value=0>
            </div>
            <div class="statTag" title="">
              <label for="dfdr_s1vp" class="bg4">S1VP</label>
              <input id="dfdr_s1vp" name="dfdr_s1vp" class="spinner vptracker io bg7" type="number" size=2 value=0>
            </div>
            <div class="statTag" title="">
              <label for="dfdr_s2vp" class="bg4">S2VP</label>
              <input id="dfdr_s2vp" name="dfdr_s2vp" class="spinner vptracker io bg7" type="number" size=2 value=0>
            </div>
            <div class="statTag" title="">
              <label for="dfdr_s3vp" class="bg4">S3VP</label>
              <input id="dfdr_s3vp" name="dfdr_s3vp" class="spinner vptracker io bg7" type="number" size=2 value=0>
            </div>
            <div class="statTag" title="Total Victory Points">
              <label for="dfdr_tvp" class="bg2">TTL</label>
              <span class="io bg7 vptotal" id="dfdr_tvp"></span>
            </div>
          </div>
        </div>
      </div>

      <!--
       ██████  █████  ██       ██████ ██    ██ ██       █████  ████████  ██████  ██████
      ██      ██   ██ ██      ██      ██    ██ ██      ██   ██    ██    ██    ██ ██   ██
      ██      ███████ ██      ██      ██    ██ ██      ███████    ██    ██    ██ ██████
      ██      ██   ██ ██      ██      ██    ██ ██      ██   ██    ██    ██    ██ ██   ██
       ██████ ██   ██ ███████  ██████  ██████  ███████ ██   ██    ██     ██████  ██   ██
      -->
      <a href="#calculator"></a>
      <!-- <div class="accordion-header bg0 banner" style="display: none;">Calculator</div> -->
      <div class="accordion-header bg0 banner">Calculator</div>
      <!-- Attacker -->
      <!-- <div class="accordion-content bg4" style="display: none;"> -->
      <div class="accordion-content bg4">
        <h2 id="attackerName" class="cCenter io" title="Abilities will show here if they are detected.">Attacker's Stats
        </h2>
        <div class="statRow bg5">
          <div class="statTag" id="attackerModels" title="The number of models in the attacking unit.">
            <label for="sim_atkr_mdls" class="bg4">Mdls</label>
            <input type="number" class="spinner io bg7" name="sim_atkr_mdls" id="sim_atkr_mdls" size=2 value=12>
          </div>
          <div class="statTag" id="attackerA"
            title="The number of attacks each model can make. [For random attacks, see 'Hit Modifiers' tab]">
            <label for="sim_atkr_a" class="bg4">A</label>
            <input type="number" class="spinner io bg7" name="sim_atkr_a" id="sim_atkr_a" size=1 value=1>
          </div>
          <div class="statTag" id="attackerAS" title="The WS or BS of the attack (Attack Skill).">
            <label for="sim_atkr_as" class="bg4">AS</label>
            <input type="number" class="spinner io bg7" name="sim_atkr_as" id="sim_atkr_as" size=1 value=3>
          </div>
          <div class="statTag" id="attackerS" title="The Strength of the model OR weapon used.">
            <label for="sim_atkr_s" class="bg4">S</label>
            <input type="number" class="spinner io bg7" name="sim_atkr_s" id="sim_atkr_s" size=1 value=4>
          </div>
          <div class="statTag" id="attackerAP" title="The AP (no \'-\' symbol!) of the weapon used.">
            <label for="sim_atkr_ap" class="bg4">AP</label>
            <input type="number" class="spinner io bg7" name="sim_atkr_ap" id="sim_atkr_ap" size=1 value=1>
          </div>
        </div>
        <select id="weaponsBox" name="weaponsBox" class="io">
        </select>
        <!-- Defender -->
        <div class="statRow bg5">
          <div class="statTag" id="defenderModels">
            <label for="sim_dfdr_mdls" class="bg4">Mdls</label>
            <input type="number" class="spinner io bg7" name="sim_dfdr_mdls" id="sim_dfdr_mdls" size=2 value=10>
          </div>
          <div class="statTag" id="defenderT" title="The toughness of models in the defending unit.">
            <label for="sim_dfdr_t" class="bg4">T</label>
            <input type="number" class="spinner io bg7" name="sim_dfdr_t" id="sim_dfdr_t" size=1 value=4>
          </div>
          <div class="statTag" id="defenderW" title="The number of Wounds each model in the defending unit has.">
            <label for="sim_dfdr_w" class="bg4">W</label>
            <input type="number" class="spinner io bg7" name="sim_dfdr_w" id="sim_dfdr_w" size=2 value=1>
          </div>
          <div class="statTag" id="defenderSv" title="The Save characteristic of the models in the defending unit.">
            <label for="sim_dfdr_sv" class="bg4">Sv</label>
            <input type="number" class="spinner io bg7" name="sim_dfdr_sv" id="sim_dfdr_sv" size=1 value=3>
          </div>
          <div class="statTag" id="attackerAP" title="The Damage of the weapon used.">
            <label for="sim_atkr_d" class="bg4">D</label>
            <input type="number" class="spinner io bg7" name="sim_atkr_d" id="sim_atkr_d" size=1 value=1>
          </div>
        </div>
        <h2 id="defenderName" class="cCenter io">Defender's Stats</h2>
        <div class="accordion-button bg0" onclick="output(calc.calculate(ioList));">Calculate</div>
        <!-- <div style="display: flex;">
          <div class="accordion-button bg0" onclick="output(calc.calculate(ioList));">Simulate 1</div>
          <div class="accordion-button bg0" onclick="output(calc.calculate(ioList));">Simul. 10k</div>
        </div> -->
        <!--
        ██   ██ ██ ████████     ███    ███  ██████  ██████  ███████
        ██   ██ ██    ██        ████  ████ ██    ██ ██   ██ ██
        ███████ ██    ██        ██ ████ ██ ██    ██ ██   ██ ███████
        ██   ██ ██    ██        ██  ██  ██ ██    ██ ██   ██      ██
        ██   ██ ██    ██        ██      ██  ██████  ██████  ███████
        -->
        <div class="accordion-header bg1 banner">Hit</div>
        <div class="accordion-content bg2">
          <div class="block bg6" title="Add this to the die roll.">
            Add <input type="number" class="spinner io bg7" name="sim_hit_mod" id="sim_hit_mod" size=1 value=0> to the
            hit roll
          </div>
          <div class="block bg6" title="Roll xDy+z attacks for each model instead of the flat Attack characteristic.">
            <input type="checkbox" class="selectMod io" id="sim_hit_attacks"> Random number of attacks:<br>
            <input type="number" class="spinner io bg7" name="sim_hit_attacks_dice" id="sim_hit_attacks_dice" size=1
              value=1> D
            <input type="number" class="spinner io bg7" name="sim_hit_attacks_faces" id="sim_hit_attacks_faces" size=1
              value=6> +
            <input type="number" class="spinner io bg7" name="sim_hit_attacks_mod" id="sim_hit_attacks_mod" size=1
              value=0>
          </div>
          <div class="block bg6" title="These attacks always hit. Do not roll.">
            <input type="checkbox" class="selectMod io" id="sim_hit_autohit"> Auto-hit without rolling
          </div>
          <div class="block bg6" title="Reroll the hit roll if it's lower than this number.">
            <input type="checkbox" class="selectMod io" id="sim_hit_reroll"> Re-roll
            <br><input type="radio" name="sim_hit_reroll_type" id="sim_hit_reroll_less" value="less" checked><input type="number" class="spinner io bg7" name="sim_hit_reroll_target" id="sim_hit_reroll_target" size=1 value=1> or lower <br><input type="radio" name="sim_hit_reroll_type" id="sim_hit_reroll_all" value="all"> all failures
            <!-- <input type="number" class="spinner io bg7" name="sim_hit_reroll_target" id="sim_hit_reroll_target" size=1 value=1> or lower -->
          </div>
          <!-- HIDDEN! -->
          <div class="block bg6" style="display: none;" title="Attack again if you roll a higher than the provided number">
            <input type="checkbox" class="selectMod io" id="sim_hit_exploding">
            <input type="number" class="spinner io bg7" name="sim_hit_exploding_amount" id="sim_hit_exploding_amount"
              size=1 value=1> bonus Attacks on
            <input type="number" class="spinner io bg7" name="sim_hit_exploding_target" id="sim_hit_exploding_target"
              size=1 value=6> +
          </div>
          <!-- Extra hits on natural-->
          <!-- <div class="block bg6" title="This hit always hits on this number or higher">
            <input type="checkbox" class="selectMod io" id="sim_hit_extrahit">
            <input type="number" class="spinner io bg7" name="sim_hit_extrahit_amount" id="sim_hit_extrahit_amount" size=1 value=1> bonus Hits on
            <input type="number" class="spinner io bg7" name="sim_hit_extrahit_target" id="sim_hit_extrahit_target" size=1 value=6> +
          </div> -->
          <div class="block bg6" title="This hit automatically hits and wounds on this number or higher">
            <input type="checkbox" class="selectMod io" id="sim_hit_autowound"> Auto-wound on
            <input type="number" class="spinner io bg7" name="sim_hit_autowound_target" id="sim_hit_autowound_target"
              size=1 value=6> +
          </div>
          <!-- <div class="block bg6" title="Inflict a Mortal Wound on a wound roll greater than this number">
              <input type="checkbox" class="selectMod io" id="sim_hit_mortals"> Mortals on
              <input type="number" class="spinner io bg7" name="sim_hit_mortals_target" id="sim_hit_mortals_target" size=1
              value=6> + 
              <input type="checkbox" class="selectMod io" id="sim_hit_endattack"> end attack
          </div> -->
        </div>
        <!--
          ██     ██  ██████  ██    ██ ███    ██ ██████      ███    ███  ██████  ██████  ███████
          ██     ██ ██    ██ ██    ██ ████   ██ ██   ██     ████  ████ ██    ██ ██   ██ ██
          ██  █  ██ ██    ██ ██    ██ ██ ██  ██ ██   ██     ██ ████ ██ ██    ██ ██   ██ ███████
          ██ ███ ██ ██    ██ ██    ██ ██  ██ ██ ██   ██     ██  ██  ██ ██    ██ ██   ██      ██
           ███ ███   ██████   ██████  ██   ████ ██████      ██      ██  ██████  ██████  ███████
          -->
        <div class="accordion-header bg1 banner">Wound</div>
        <div class="accordion-content bg2">
          <div class="block bg6" title="Add this to the die roll.">
            Add <input type="number" class="spinner io bg7" name="sim_wound_mod" id="sim_wound_mod" size=1 value=0> to
            the wound roll
          </div>
          <div class="block bg6" title="Reroll the wound roll if it\'s lower than this number.">
            <input type="checkbox" class="selectMod io" id="sim_wound_reroll"> Re-roll
            <input type="number" class="spinner io bg7" name="sim_wound_reroll_target" id="sim_wound_reroll_target"
              size=1 value=1> or less
          </div>
          <div class="block bg6" title="Ignore all wound rolls at or below this number (like Transhuman Physiology)">
            <input type="checkbox" class="selectMod io" id="sim_wound_ignore"> Ignore rolls 
            <input type="number" class="spinner io bg7" name="sim_wound_ignore_target" id="sim_wound_ignore_target"
              size=1 value=3> or below
          </div>
          <div class="block bg6" title="Hit with additional AP on this number or higher">
            <input type="checkbox" class="selectMod io" id="sim_wound_bonusap">
            <input type="number" class="spinner io bg7" name="sim_wound_bonusap_amount" id="sim_wound_bonusap_amount"
              size=1 value=1> Bonus AP on
            <input type="number" class="spinner io bg7" name="sim_wound_bonusap_target" id="sim_wound_bonusap_target"
              size=1 value=6> +
          </div>
          <div class="block bg6" title="Target cannot use their invuln save against this">
            <input type="checkbox" class="selectMod io" id="sim_wound_noinvuln"> Target can't use invulnerable saves
          </div>
          <!-- <div class="block bg6" title="Inflict a Mortal Wound on a wound roll greater than this number">
            <input type="checkbox" class="selectMod io" id="sim_wound_mortals">
            <input type="number" class="spinner io bg7" name="sim_wound_mortals_amount" id="sim_wound_mortals_amount"
              size=1 value=1> Mortals on
            <input type="number" class="spinner io bg7" name="sim_wound_mortals_target" id="sim_wound_mortals_target"
              size=1 value=6> +
            <input type="checkbox" class="selectMod io" id="sim_hit_endattack"> end attack
          </div> -->
        </div>
        <!--
          ███████  █████  ██    ██ ███████     ███    ███  ██████  ██████  ███████
          ██      ██   ██ ██    ██ ██          ████  ████ ██    ██ ██   ██ ██
          ███████ ███████ ██    ██ █████       ██ ████ ██ ██    ██ ██   ██ ███████
               ██ ██   ██  ██  ██  ██          ██  ██  ██ ██    ██ ██   ██      ██
          ███████ ██   ██   ████   ███████     ██      ██  ██████  ██████  ███████
          -->
        <div class="accordion-header bg1 banner">Save</div>
        <div class="accordion-content bg2">
          <div class="block bg6" title="Add this to the die roll.">
            Add <input type="number" class="spinner io bg7" name="SvMod" id="sim_save_mod" size=1 value=0> to the Save roll
          </div>
          <div class="block bg6" title="Defender has an Invulnerable save.">
            <input type="checkbox" class="selectMod io" id="sim_save_invuln"> Invulnerable Save
            <input type="number" class="spinner io bg7" name="invuln_target" id="sim_save_invuln_target" size=1 value=5>
          </div>
          <div class="block bg6" title="You have the Space Marine Band-aids.">
            <input type="checkbox" class="selectMod io" id="sim_save_aoc"> Armor of Contemp
          </div>
        </div>
        <!--
          ██████   █████  ███    ███  █████   ██████  ███████     ███    ███  ██████  ██████  ███████
          ██   ██ ██   ██ ████  ████ ██   ██ ██       ██          ████  ████ ██    ██ ██   ██ ██
          ██   ██ ███████ ██ ████ ██ ███████ ██   ███ █████       ██ ████ ██ ██    ██ ██   ██ ███████
          ██   ██ ██   ██ ██  ██  ██ ██   ██ ██    ██ ██          ██  ██  ██ ██    ██ ██   ██      ██
          ██████  ██   ██ ██      ██ ██   ██  ██████  ███████     ██      ██  ██████  ██████  ███████
          -->
        <div class="accordion-header bg1 banner">Damage</div>
        <div class="accordion-content bg2">
          <div class="block bg6" title="Roll xDy+z attacks for each model instead of the flat Damage characteristic.">
            <input type="checkbox" class="selectMod io" id="sim_damage_random"> Random number of damage:<br>
            <input type="number" class="spinner io bg7" name="sim_damage_random_dice" id="sim_damage_random_dice" size=1
              value=1> D
            <input type="number" class="spinner io bg7" name="sim_damage_random_faces" id="sim_damage_random_faces"
              size=1 value=6> +
            <input type="number" class="spinner io bg7" name="sim_damage_random_mod" id="sim_damage_random_mod" size=1
              value=0>
          </div>
          <div class="block bg6" title="Roll a D6 for each point of damage. If it's higher than this number remove that point of damage.">
            <input type="checkbox" class="selectMod io" id="fnp"> Feel No Pain
            <input type="number" class="spinner io bg7" name="fnp_target" id="fnp_target" size=1 value=6>
          </div>
          <div class="block bg6" title="Reduce damage by this much, to a minimum of 1. (Serpent Shield or Disgustingly Resilient)">
             Reduce Damge by <input type="number" class="spinner io bg7" name="sim_damage_reduction" id="sim_damage_reduction" size=1 value=0>
          </div>
          <!-- <div class="block bg6" title="Model can fight back if killed if they roll this number or higher on a D6.">
            <input type="checkbox" class="selectMod io" id="sim_damage_fightback_check"> Fight on death on
            <input type="number" class="spinner io bg7" name="sim_damage_fightback_target" id="sim_damage_fightback_target" size=1 value=4>+
          </div>
          <div class="block bg6" title="When defending models die, attempt to use Reanimation Protocols.">
            <input type="checkbox" class="selectMod io" id="sim_damage_reanimate"> Reanimate on
            <input type="number" class="spinner io bg7" name="sim_damage_reanimate_target" id="sim_damage_reanimate_target" size=1 value=5>+
            re-rolling <input type="number" class="spinner io"name="reanimatereroll" id="reanimatereroll" size=1 value=1> or lower
            adding <input type="number" class="spinner io"name="reanimatemod" id="reanimatemod" size=1 value=1> to roll.
          </div> -->
        </div>
      </div>
      <!--
       ██████  ██    ██ ████████ ██████  ██    ██ ████████
      ██    ██ ██    ██    ██    ██   ██ ██    ██    ██
      ██    ██ ██    ██    ██    ██████  ██    ██    ██
      ██    ██ ██    ██    ██    ██      ██    ██    ██
       ██████   ██████     ██    ██       ██████     ██
      -->
      <a href="#output"></a>
      <div class="accordion-header bg0 banner isOpen">Output</div>
      <div id="output" class="accordion-content isOpen io textSans">
        <% if (locals.outputPretty) { %>
          <%- outputPretty %>
            <% } else { %>
              <p class="cCenter">Do you play <span class="oG">Warhammer 40,000</span>?</p>
              <p class="cCenter">Do you use <span class="oB">BattleScribe</span>?</p>
              <p class="cCenter">Do you constantly <span class="oR">forget</span> all of your army's rules?</p>
              <p class="cCenter">Then <span class="oB">40kroller</span> is for you. </p>
              <p class="cCenter">Just press the <span class="oG">&#9776;</span> icons in the top corners to upload yours
                and a "friend's" BattleScribe Roster.</p>
              <p class="cCenter">Then just <span class="oG">poke</span> anything that looks like a button. If I have to
                explain it more than that then I am just a bad techpriest.</p>
              <p class="cCenter"><a href="/?gameCode=6b3cbf9f">Click for example Army</a></p>
              <p class="cCenter"><span class="oR">Something missing or broken?</span> Please leave <span
                  class="oG">FEEDBACK</span> in the <span class="oG">Game</span> tab!</p>
              </ul>
              <p class="cCenter" style="display: flex; justify-content: space-between;">
                <hr>
              <div style="float: left;">
                <p class="cCenter">Powered by:</p>
                <a href="https://wahapedia.ru/"><img class="outputIcon" src="img/icons/wahapedia.png" alt=""></a>
                <a href="https://battlescribe.net/"><img class="outputIcon" src="img/icons/battlescribe.png" alt=""></a>
              </div>
              <div style="float: right;">
                <p class="cCenter">Participate:</p>
                <a href="https://github.com/SuperMechaCow/kroller"><img class="outputIcon" src="img/icons/github.png"
                    alt=""></a>
                <a href="https://discord.gg/UmC5VwZNZt"><img class="outputIcon" src="img/icons/discord.png" alt=""></a>
              </div>
              </p>
              <p class="cCenter">Feel free to host, contribute, and share!</p>
              <p class="cCenter">Thanks to <a href="https://github.com/Otwald">Otwald</a> for reviving this project.</p>
              <% } %>
      </div>

      <!--
       ██████   █████  ███    ███ ███████
      ██       ██   ██ ████  ████ ██
      ██   ███ ███████ ██ ████ ██ █████
      ██    ██ ██   ██ ██  ██  ██ ██
       ██████  ██   ██ ██      ██ ███████
     -->
      <% if (locals.gameCode) { %>
        <a href="#game"></a>
        <div class="accordion-header bg0 banner">Game</div>
        <div class="accordion-content bg4 cCenter">
          <button type="button" onclick="window.location='/'" title="">Start a New Game</button>
          <h2 class="cCenter">Game Code:</h2>
          <h1 class="cCenter bg1 hlAll" style="margin-top: 0px;">
            <%- gameCode %>
          </h1>
          <img id="qrshare" src="shares/<%- gameCode %>.png"
            alt="Have your friend scan this QR code to join your game session">
          <div class="bg5 block cCenter">
            <button type="button"
              onclick="navigator.clipboard.writeText('https://40kroller.animetidd.is/?gameCode=<%- gameCode %>'); output('Code copied!')"
              title="">Copy Link</button>
            <button type="button" onclick="navigator.clipboard.writeText('<%- gameCode %>'); output('Code copied!')"
              title="">Copy Code</button>
            <button type="button" onclick="navigator.clipboard.writeText(ioList.output.innerText)" title="">Copy
              Output</button>
          </div>
          <h2 class="cCenter">Go to Game:</h2>
          <div class="bg5 block cCenter">
            <input type="text" name="gotoCode" id="gotoCode" value="" placeholder="Friend's gameCode">
            <button type="button" onclick="window.location='/?gameCode='+document.getElementById('gotoCode').value;"
              title="">Go</button>
          </div>
          <div class="accordion-header bg1 banner">Feedback</div>
          <div class="accordion-content bg5 feedbackwrapper">
            <form action="/feedback" method="post" enctype="multipart/form-data">
              <textarea name="feedback" id="feedback" rows="8" cols="30"
                placeholder="You only need to submit your feedback once. Yes, I know it doesn't give any confirmation that I got it, but I did. I am working on this."></textarea>
              <input type="hidden" name="gameCode" id="gameCode" value='<%- gameCode %>'>
              <label for="atkr_file">Attach Broken Roster List:</label>
              <input type="file" class="fileSpot fileWidget bg7" name="broken_file" id="broken_file" accept="rosz"><br>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>

        <!--
      ███████ ███████ ████████ ██    ██ ██████
      ██      ██         ██    ██    ██ ██   ██
      ███████ █████      ██    ██    ██ ██████
           ██ ██         ██    ██    ██ ██
      ███████ ███████    ██     ██████  ██
    -->
        <a href="#settings"></a>
        <div class="accordion-header bg0 banner">Settings</div>
        <div class="accordion-content bg4">
          <div class="settingBox bg3">
            <p class="textFull">Auto-open all phase abilities</p>
            <label class="switch">
              <input id="setAutoOpen" type="checkbox" class="io"
                onchange="settings.autoOpen = !settings.autoOpen; reload();">
              <span class="slider round"></span>
            </label>
          </div>
          <div class="settingBox bg3">
            <p class="textFull">Close other tabs when opening new tab</p>
            <label class="switch">
              <input id="setAutoClose" type="checkbox" class="io"
                onchange="settings.autoClose = !settings.autoClose; reload();" checked>
              <span class="slider round"></span>
            </label>
          </div>
          <div class="settingBox bg3">
            <p class="textFull">Show stat icons</p>
            <label class="switch">
              <input id="setStatIcons" type="checkbox" class="io"
                onchange="settings.statIcons = !settings.statIcons; reload();" checked>
              <span class="slider round"></span>
            </label>
          </div>
          <div class="settingBox bg3">
            <p class="textFull">Show role icons</p>
            <label class="switch">
              <input id="setStatIcons" type="checkbox" class="io"
                onchange="settings.slotIcons = !settings.slotIcons; reload();" checked>
              <span class="slider round"></span>
            </label>
          </div>
          <div class="settingBox bg3">
            <p class="textFull">Show Stratagems</p>
            <label class="switch">
              <input id="setStratagems" type="checkbox" class="io"
                onchange="settings.stratagems = !settings.stratagems; reload();" checked>
              <span class="slider round"></span>
            </label>
          </div>
          <div class="settingBox bg3">
            <p class="textFull">Kolor Scheme</p>
            <select onchange="changeKolor(this.value)" style="float: left;">
              <option value="classico">Classico</option>
              <option value="greyknight">Grey Knight</option>
              <option value="morphG">Xeno Morph G</option>
              <option value="morphP">Xeno Morph P</option>
              <option value="starkwhite">Stark White</option>
              <option value="pitchblack">Pitch Black</option>
              <!-- <option value="pitchblack">Pitch Black</option> -->
            </select>
          </div>
          <!-- <div class="accordion-header bg1 banner">Button Maker</div>
        <div class="accordion-content bg5 cCenter">

        </div> -->
        </div>
        <% } %>
    </div>
  </div>
  <div id="dfdrList" class="listView bg1 cCenter">
    <% if (locals.gameCode) { %>
      <div class="form-group bg5 block cCenter importForm">
        <form action="/upload" enctype="multipart/form-data" method="post">
          <label for="atkr_file">Attacker File</label>
          <input type="file" class="fileSpot fileWidget bg7" name="atkr_file" id="atkr_file" accept="rosz"><br>
          <label for="dfdr_file">Defender File</label>
          <input type="file" class="fileSpot fileWidget bg7" name="dfdr_file" id="dfdr_file" accept="rosz"><br>
          <input type="hidden" name="gameCode" id="gameCode" value="<%- gameCode %>">
          <input type="submit" value="Upload BattleScribe Rosters" class="fileBtn fileWidget">
        </form>
      </div>
      <% } %>
  </div>
</body>



<script type="text/javascript">
  <% if (locals.gameCode) { %>
    gameCode = '<%- gameCode %>';
    console.log(gameCode);
    socket.emit('connectGame', {
      gameCode: gameCode
    });
  <% } %>
  <% if (locals.forceData) { %>
    forceData = <%- JSON.stringify(forceData) %>;
    console.log(forceData);
  <% } %>
  <% if (locals.scoreboard) { %>
    console.log(<%- scoreboard %>);
    getTrackers(<%- scoreboard %>);
  <% } %>
</script>

</html>