<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="apple-touch-icon" href="img/icons/target.png"> -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <!-- <script src="js/testdata.js" charset="utf-8"></script> -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/calculator.js" charset="utf-8"></script>
  <script src="js/interface.js" charset="utf-8"></script>
  <script>
    var calc = new Calculator();
  </script>
  <title>40kroller</title>
  <link rel="stylesheet" href="css/40kroller.css">
  <link id="40kolor" rel="stylesheet" href="css/40kolor_classico.css">
  <!-- <link id="40kolor" rel="stylesheet" href="css/40kolor_greyknight.css"> -->
  <!-- <link id="40kolor" rel="stylesheet" href="css/40kolor_pitchblack.css"> -->
  <!-- <link id="40kolor" rel="stylesheet" href="css/40kolor_morphG.css"> -->
  <!-- <link id="40kolor" rel="stylesheet" href="css/40kolor_morphP.css"> -->
</head>

<body onload="init()">
  <div id="atkrList" class="listView bg1 cCenter">
    <% if (locals.gameCode) { %>
      <div class="form-group bg5 block cCenter importForm">
        <form action="/upload" enctype="multipart/form-data" method="post">
          <label for="atkr_file">Attacker File</label>
          <input type="file" class="fileSpot fileWidget bg7" name="atkr_file" id="atkr_file" accept="rosz"><br>
          <label for="dfdr_file">Defender File</label>
          <input type="file" class="fileSpot fileWidget bg7" name="dfdr_file" id="dfdr_file" accept="rosz"><br>
          <input type="hidden" name="gameCode" id="gameCode" value='<%- gameCode %>'>
          <input type="submit" value="Upload BattleScribe Rosters" class="fileBtn fileWidget">
          <!-- <input type="button" value="Upload BattleScribe Rosters" class="fileBtn" onclick="uploadArmies()"> -->
        </form>
      </div>
      <% } %>
  </div>
  <div id="centerBlock">
    <span id="toggleatkr" class="openNav" onclick="toggleNav(this)">&#9776;</span>
    <span id="toggledfdr" class="openNav" onclick="toggleNav(this)">&#9776;</span>
    <h1 id="banner" title="This is the name of this webapp." align="center" onclick="tickle()">40kroller</h1>
    <h4 id="subbanner" align="center">Warhammer 40k Battle Tracker</h4>
    <div id="content" class="bg2">
      <!--
      ████████ ██████   █████   ██████ ██   ██ ███████ ██████
         ██    ██   ██ ██   ██ ██      ██  ██  ██      ██   ██
         ██    ██████  ███████ ██      █████   █████   ██████
         ██    ██   ██ ██   ██ ██      ██  ██  ██      ██   ██
         ██    ██   ██ ██   ██  ██████ ██   ██ ███████ ██   ██
      -->
      <a href="#tracker"></a>
      <div class="accordion-header bg0 banner">Tracker</div>

      <div class="accordion-content bg4">
        <h2 class="cCenter" title="">Current Phase</h2>
        <div class="statRow bg5">
          <div id="phaser">
            <span class="tag phaseTag clickable">Pregame</span>
            <span class="tag phaseTag clickable">Command</span>
            <span class="tag phaseTag clickable">Movement</span>
            <span class="tag phaseTag clickable">Psychic</span>
            <span class="tag phaseTag clickable">Shooting</span>
            <span class="tag phaseTag clickable">Charge</span>
            <span class="tag phaseTag clickable">Fight</span>
            <span class="tag phaseTag clickable">Morale</span>
          </div>
        </div>
        <div id="scoreboard">
          <h2 class="cCenter" title="">Attacker Score</h2>
          <div id="atkr_score" class="statRow bg5 vpbox">
            <div class="statTag" title="">
              <label for="atkr_cp" class="bg2">CP</label>
              <input id="atkr_cp" name="atkr_cp" class="spinner io bg7" type="number" size=2 value="-1">
            </div>
            <div class="statTag" title="Primary Victory Points">
              <label for="atkr_pvp" class="bg4">P.VP</label>
              <input id="atkr_pvp" name="atkr_pvp" class="spinner vptracker io bg7" type="number" size=2 value=0>
            </div>
            <div class="statTag" title="">
              <label for="atkr_s1vp" class="bg4">S1VP</label>
              <input id="atkr_s1vp" name="atkr_s1vp" class="spinner vptracker io bg7" type="number" size=2 value=0>
            </div>
            <div class="statTag" title="">
              <label for="atkr_s2vp" class="bg4">S2VP</label>
              <input id="atkr_s2vp" name="atkr_s2vp" class="spinner vptracker io bg7" type="number" size=2 value=0>
            </div>
            <div class="statTag" title="">
              <label for="atkr_s3vp" class="bg4">S3VP</label>
              <input id="atkr_s3vp" name="atkr_s3vp" class="spinner vptracker io bg7" type="number" size=2 value=0>
            </div>
            <div class="statTag" title="Total Victory Points">
              <label for="atkr_tvp" class="bg2">TTL</label>
              <span class="io bg7 vptotal" id="atkr_tvp"></span>
            </div>
          </div>
          <h2 class="cCenter" title="">Defender Score</h2>
          <div id="dfdr_score" class="statRow bg5 vpbox">
            <div class="statTag" title="">
              <label for="dfdr_cp" class="bg2">CP</label>
              <input id="dfdr_cp" name="dfdr_cp" class="spinner io bg7" type="number" size=2 value="-1">
            </div>
            <div class="statTag" title="Primary Victory Points">
              <label for="dfdr_pvp" class="bg4">P.VP</label>
              <input id="dfdr_pvp" name="dfdr_pvp" class="spinner vptracker io bg7" type="number" size=2 value=0>
            </div>
            <div class="statTag" title="">
              <label for="dfdr_s1vp" class="bg4">S1VP</label>
              <input id="dfdr_s1vp" name="dfdr_s1vp" class="spinner vptracker io bg7" type="number" size=2 value=0>
            </div>
            <div class="statTag" title="">
              <label for="dfdr_s2vp" class="bg4">S2VP</label>
              <input id="dfdr_s2vp" name="dfdr_s2vp" class="spinner vptracker io bg7" type="number" size=2 value=0>
            </div>
            <div class="statTag" title="">
              <label for="dfdr_s3vp" class="bg4">S3VP</label>
              <input id="dfdr_s3vp" name="dfdr_s3vp" class="spinner vptracker io bg7" type="number" size=2 value=0>
            </div>
            <div class="statTag" title="Total Victory Points">
              <label for="dfdr_tvp" class="bg2">TTL</label>
              <span class="io bg7 vptotal" id="dfdr_tvp"></span>
            </div>
          </div>
        </div>
      </div>

      <!--
       ██████  █████  ██       ██████ ██    ██ ██       █████  ████████  ██████  ██████
      ██      ██   ██ ██      ██      ██    ██ ██      ██   ██    ██    ██    ██ ██   ██
      ██      ███████ ██      ██      ██    ██ ██      ███████    ██    ██    ██ ██████
      ██      ██   ██ ██      ██      ██    ██ ██      ██   ██    ██    ██    ██ ██   ██
       ██████ ██   ██ ███████  ██████  ██████  ███████ ██   ██    ██     ██████  ██   ██
      -->
      


      <!--
       ██████  ██    ██ ████████ ██████  ██    ██ ████████
      ██    ██ ██    ██    ██    ██   ██ ██    ██    ██
      ██    ██ ██    ██    ██    ██████  ██    ██    ██
      ██    ██ ██    ██    ██    ██      ██    ██    ██
       ██████   ██████     ██    ██       ██████     ██
      -->
      <a href="#output"></a>
      <div class="accordion-header bg0 banner isOpen">Output</div>
      <div id="output" class="accordion-content isOpen io textSans">
        <% if (locals.outputPretty) { %>
          <%- outputPretty %>
            <% } else { %>
              <p class="cCenter">Do you play <span class="oG">Warhammer 40,000</span>?</p>
              <p class="cCenter">Do you use <span class="oB">BattleScribe</span>?</p>
              <p class="cCenter">Do you constantly <span class="oR">forget</span> all of your army's rules?</p>
              <p class="cCenter">Then <span class="oB">40kroller</span> is for you. </p>
              <p class="cCenter">Just press the <span class="oG">&#9776;</span> icons in the top corners to upload yours
                and a "friend's" BattleScribe Roster.</p>
              <p class="cCenter">Then just <span class="oG">poke</span> anything that looks like a button. If I have to
                explain it more than that then I am just a bad techpriest.</p>
              <p class="cCenter"><a href="/?gameCode=6b3cbf9f">Click for example Army</a></p>
              <p class="cCenter"><span class="oR">Something missing or broken?</span> Please leave <span
                  class="oG">FEEDBACK</span> in the <span class="oG">Game</span> tab!</p>
              </ul>
              <p class="cCenter" style="display: flex; justify-content: space-between;">
                <hr>
              <div style="float: left;">
                <p class="cCenter">Powered by:</p>
                <a href="https://wahapedia.ru/"><img class="outputIcon" src="img/icons/wahapedia.png" alt=""></a>
                <a href="https://battlescribe.net/"><img class="outputIcon" src="img/icons/battlescribe.png" alt=""></a>
              </div>
              <div style="float: right;">
                <p class="cCenter">Participate:</p>
                <a href="https://github.com/SuperMechaCow/kroller"><img class="outputIcon" src="img/icons/github.png"
                    alt=""></a>
                <a href="https://discord.gg/UmC5VwZNZt"><img class="outputIcon" src="img/icons/discord.png" alt=""></a>
              </div>
              </p>
              <p class="cCenter">Feel free to host, contribute, and share!</p>
              <p class="cCenter">Thanks to <a href="https://github.com/Otwald">Otwald</a> for reviving this project.</p>
              <% } %>
      </div>

      <!--
       ██████   █████  ███    ███ ███████
      ██       ██   ██ ████  ████ ██
      ██   ███ ███████ ██ ████ ██ █████
      ██    ██ ██   ██ ██  ██  ██ ██
       ██████  ██   ██ ██      ██ ███████
     -->
      <% if (locals.gameCode) { %>
        <a href="#game"></a>
        <div class="accordion-header bg0 banner">Game</div>
        <div class="accordion-content bg4 cCenter">
          <button type="button" onclick="window.location='/'" title="">Start a New Game</button>
          <h2 class="cCenter">Game Code:</h2>
          <h1 class="cCenter bg1 hlAll" style="margin-top: 0px;">
            <%- gameCode %>
          </h1>
          <img id="qrshare" src="shares/<%- gameCode %>.png"
            alt="Have your friend scan this QR code to join your game session">
          <div class="bg5 block cCenter">
            <button type="button"
              onclick="navigator.clipboard.writeText('https://40kroller.animetidd.is/?gameCode=<%- gameCode %>'); output('Code copied!')"
              title="">Copy Link</button>
            <button type="button" onclick="navigator.clipboard.writeText('<%- gameCode %>'); output('Code copied!')"
              title="">Copy Code</button>
            <button type="button" onclick="navigator.clipboard.writeText(ioList.output.innerText)" title="">Copy
              Output</button>
          </div>
          <h2 class="cCenter">Go to Game:</h2>
          <div class="bg5 block cCenter">
            <input type="text" name="gotoCode" id="gotoCode" value="" placeholder="Friend's gameCode">
            <button type="button" onclick="window.location='/?gameCode='+document.getElementById('gotoCode').value;"
              title="">Go</button>
          </div>
          <div class="accordion-header bg1 banner">Feedback</div>
          <div class="accordion-content bg5 feedbackwrapper">
            <form action="/feedback" method="post" enctype="multipart/form-data">
              <textarea name="feedback" id="feedback" rows="8" cols="30"
                placeholder="You only need to submit your feedback once. Yes, I know it doesn't give any confirmation that I got it, but I did. I am working on this."></textarea>
              <input type="hidden" name="gameCode" id="gameCode" value='<%- gameCode %>'>
              <label for="atkr_file">Attach Broken Roster List:</label>
              <input type="file" class="fileSpot fileWidget bg7" name="broken_file" id="broken_file" accept="rosz"><br>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>

        <!--
      ███████ ███████ ████████ ██    ██ ██████
      ██      ██         ██    ██    ██ ██   ██
      ███████ █████      ██    ██    ██ ██████
           ██ ██         ██    ██    ██ ██
      ███████ ███████    ██     ██████  ██
    -->
        <a href="#settings"></a>
        <div class="accordion-header bg0 banner">Settings</div>
        <div class="accordion-content bg4">
          <div class="settingBox bg3">
            <p class="textFull">Auto-open all phase abilities</p>
            <label class="switch">
              <input id="setAutoOpen" type="checkbox" class="io"
                onchange="settings.autoOpen = !settings.autoOpen; reload();">
              <span class="slider round"></span>
            </label>
          </div>
          <div class="settingBox bg3">
            <p class="textFull">Close other tabs when opening new tab</p>
            <label class="switch">
              <input id="setAutoClose" type="checkbox" class="io"
                onchange="settings.autoClose = !settings.autoClose; reload();" checked>
              <span class="slider round"></span>
            </label>
          </div>
          <div class="settingBox bg3">
            <p class="textFull">Show stat icons</p>
            <label class="switch">
              <input id="setStatIcons" type="checkbox" class="io"
                onchange="settings.statIcons = !settings.statIcons; reload();" checked>
              <span class="slider round"></span>
            </label>
          </div>
          <div class="settingBox bg3">
            <p class="textFull">Show role icons</p>
            <label class="switch">
              <input id="setStatIcons" type="checkbox" class="io"
                onchange="settings.slotIcons = !settings.slotIcons; reload();" checked>
              <span class="slider round"></span>
            </label>
          </div>
          <div class="settingBox bg3">
            <p class="textFull">Show Stratagems</p>
            <label class="switch">
              <input id="setStratagems" type="checkbox" class="io"
                onchange="settings.stratagems = !settings.stratagems; reload();" checked>
              <span class="slider round"></span>
            </label>
          </div>
          <div class="settingBox bg3">
            <p class="textFull">Kolor Scheme</p>
            <select onchange="changeKolor(this.value)" style="float: left;">
              <option value="classico">Classico</option>
              <option value="greyknight">Grey Knight</option>
              <option value="morphG">Xeno Morph G</option>
              <option value="morphP">Xeno Morph P</option>
              <option value="starkwhite">Stark White</option>
              <option value="pitchblack">Pitch Black</option>
              <!-- <option value="pitchblack">Pitch Black</option> -->
            </select>
          </div>
          <!-- <div class="accordion-header bg1 banner">Button Maker</div>
        <div class="accordion-content bg5 cCenter">

        </div> -->
        </div>
        <% } %>
    </div>
  </div>
  <div id="dfdrList" class="listView bg1 cCenter">
    <% if (locals.gameCode) { %>
      <div class="form-group bg5 block cCenter importForm">
        <form action="/upload" enctype="multipart/form-data" method="post">
          <label for="atkr_file">Attacker File</label>
          <input type="file" class="fileSpot fileWidget bg7" name="atkr_file" id="atkr_file" accept="rosz"><br>
          <label for="dfdr_file">Defender File</label>
          <input type="file" class="fileSpot fileWidget bg7" name="dfdr_file" id="dfdr_file" accept="rosz"><br>
          <input type="hidden" name="gameCode" id="gameCode" value="<%- gameCode %>">
          <input type="submit" value="Upload BattleScribe Rosters" class="fileBtn fileWidget">
        </form>
      </div>
      <% } %>
  </div>
</body>



<script type="text/javascript">
  <% if (locals.gameCode) { %>
    gameCode = '<%- gameCode %>';
    console.log(gameCode);
    socket.emit('connectGame', {
      gameCode: gameCode
    });
  <% } %>
  <% if (locals.forceData) { %>
    forceData = <%- JSON.stringify(forceData) %>;
    console.log(forceData);
  <% } %>
  <% if (locals.scoreboard) { %>
    console.log(<%- scoreboard %>);
    getTrackers(<%- scoreboard %>);
  <% } %>
</script>

</html>